
@{
    ViewBag.Title = "Portfolio";
}

@section stylesheets {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
}

<section class="background-gray-lightest">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
        <h1>@ViewBag.Title</h1>
        <p class="lead">Please feel free to browse through my independent development projects below!</p>
    </div>
</section>
<section class="blog-post">
    <div class="container">

        <div id="accordion">
            <h3>Section 1</h3>
            <div>
                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget.
                    Integer ut neque. Vivamus nisi metus, molestie vel, gravida in,
                    condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros.
                    Nam mi. Proin viverra leo ut odio.
                </p>
            </div>
            <h3>Section 2</h3>
            <div>
                <p>
                    Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
                    Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
                    faucibus interdum tellus libero ac justo.
                </p>
            </div>
            <h3>Section 3</h3>
            <div>
                <p>
                    Nam enim risus, molestie et, porta ac, aliquam ac, risus.
                    Quisque lobortis.Phasellus pellentesque purus in massa.
                </p>
                <ul>
                    <li>List item one</li>
                    <li>List item two</li>
                    <li>List item three</li>
                </ul>
            </div>
        </div>






        <div class="row no-space padding-horizontal">
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="@Url.Action("Fed1Studio", "Home")" title="" data-title="Portfolio image 3"><img src="~/Content/img/MathletesThumbnail.png" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="@Url.Action("DungeonApp", "Home")" title="" data-title="Portfolio image 4"><img src="~/Content/img/DungeonAppThumbnail.png" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="@Url.Action("StoreFrontApp", "Home")" title="" data-title="Portfolio image 5"><img src="~/Content/img/portfolio-5.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="~/Content/img/portfolio-6.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 6"><img src="~/Content/img/portfolio-6.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="~/Content/img/portfolio-7.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 7"><img src="~/Content/img/portfolio-7.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="~/Content/img/portfolio-8.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 8"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </div>
    </div>
</section>



@section scripts {
    <script>
        $("#accordion").accordion();
    </script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> }